@import 'partials/_breakpoints.scss';
@import 'partials/_fonts.scss';
@import 'partials/_year.scss';
@import 'partials/_month.scss';
@import 'partials/_days.scss';
@import 'partials/_time.scss';
@import 'partials/_buttons.scss';
@import 'partials/_preview.scss';

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body {
	background-color: #f0f0f0;
	padding: 150px 0 0 50px;
}

.wtl-wrapper {
	//display: none;
}

.wtl-container {
	position: relative;
	margin: 0 auto;
	background-color: #FFF1F0;
	box-shadow: rgba(0,0,0,.05) 0 1px 3px;
	max-width: 400px;

	padding: 70px 0 90px 0;
}

.wtl-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: inherit;

	transition: opacity .3s ease;
}


.wtl-container {
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}