/* SECTIONS : GOTLAND --- */

.section.gotland {
	position: absolute;
	top: 20%;
	right: 40%;
	bottom: 30%;
	left: 0;

	background: url($img_dir + "gotland-bg.png") 0 0 repeat;
	background-size: 24px;

	@include at-medium-portrait {
		top: 0;
		bottom: 58%;
	}

	@include at-medium-landscape {
		top: 0;
		bottom: 40%;
		right: 65%;
	}
}

.section.gotland .content {}

.section.gotland h1 {
	height: 30%;
	width: 100%;

	background: url($img_dir + "gotland-heading-large.svg") 50% 100% no-repeat;
	background-size: 80%;
}

.section.gotland .subheading {
	height: 10%;
	width: 100%;

	background: url($img_dir + "gotland-heading-small.svg") 50% 50% no-repeat;
	background-size: 50%;
}

.section.gotland .img {
	height: 60%;
	width: 100%;

	background: url($img_dir + "gotland-image-original.png") 110% 80% no-repeat;
	background-size: auto 100%;
}
