/* SECTIONS : DANSKEBANK --- */

.section.danskebank {
	position: absolute;
	overflow: hidden;

	top: 0;
	right: 0;
	left: 0;
	bottom: 80%;

	background: url($img_dir + "danskebank-bg.png") 0 0 repeat;
	background-size: 24px;
	border-right: none;

	@include at-medium-portrait {
		top: 0;
		right: 0;
		bottom: 90%;
		left: 60%;

	}

	@include at-medium-landscape {
		top: 0;
		right: 25%;
		bottom: 65%;
		left: 35%;


		border-right: 2px solid white;
	}
}

.section.danskebank .content {
	background-image: radial-gradient(50% 124%, rgba(0,0,0,0.00) 50%, rgba(0,0,0,0.50) 120%);
}

.section.danskebank .content > h1 {
	position: absolute;

	top: 0;
	bottom: 0;
	right: 0;

	width: 65%;

	background: url($img_dir + "danskebank-heading-large.svg") 50% 47% no-repeat;
	background-size: 80%;
}

.section.danskebank .img {
	height: 100%;
	width: 50%;

	background: url($img_dir + "danskebank-image-original.png") 20% 50% no-repeat;
	background-size: 70%;
}


