
/* SECTIONS : ÄVENTYRSRESOR --- */

.section.aventyrsresor {
	position: absolute;
	top: 70%;
	right: 0;
	bottom: 0;
	left: 50%;

	background: url($img_dir + "aventyrsresor-bg.png") 0 0 repeat;
	background-size: 1000px;
	border-bottom: none;
	border-right: none;

	@include at-medium-portrait {
		top: 60%;
		right: 0;
		bottom: 10%;
		left: 50%;

		border-bottom: 2px solid white;
	}

	@include at-medium-landscape {
		top: 60%;
		right: 0;
		bottom: 0;
		left: 40%;

		border-right: 2px solid white;
	}
}

.section.aventyrsresor .content {}

.section.aventyrsresor .content > h1 {
	height: 20%;
	width: 80%;

	margin: 0 auto;

	background: url($img_dir + "aventyrsresor-heading-large.svg") 50% 90% no-repeat;
	background-size: contain;

	@include at-medium-portrait {
		width: 100%;
		background-position: 50% 80%;
	}

	@include at-medium-landscape {
		width: 100%;
		background-position: 50% 80%;
	}
}

.section.aventyrsresor .subheading {
	height: 10%;
	width: 100%;

	margin: 0 auto;

	background: url($img_dir + "aventyrsresor-heading-small.svg") 50% 20% no-repeat;
	background-size: auto 70%;

	@include at-medium-portrait {
		background-position: 50% 50%;
		background-size: auto 80%;
	}

	@include at-medium-landscape {
		width: 70%;

		background-position: 50% 0%;
		background-size: auto 60%;
	}
}

.section.aventyrsresor .img {
	height: 65%;
	width: 100%;
	margin: 0 auto;

	background: url($img_dir + "aventyrsresor-image-original.png") 50% 90% no-repeat;
	background-size: auto 60%;

	@include at-medium-portrait {
		background-position: 50% 70%;
	}
}

