/* SECTIONS : DEFAULT --- */

.section {
	position: relative;

	border-right: 2px solid white;
	border-bottom: 2px solid white;

	transition: left .5s ease .3s,
				right .5s ease .3s,
				top .5s ease .8s,
				bottom .5s ease .8s;

	-webkit-transform: translate3d(0,0,1);

	.subpage {
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: #F9F9F9;
		opacity: 0;

		transition: opacity .3s ease 1.3s;

		-webkit-transform: translate3d(0,0,1);
	}

	@include at-medium {
		position: absolute;
	}
}

.subpage-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	opacity: 0;

	transition: opacity .3s ease 0;
	-webkit-transform: translate3d(0,0,1);
}

.section .content {
	height: 100%;
	/*
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	*/
}

.section .trigger {
	position: relative;
	display: block;
	height: 100%;
	z-index: 10;
	cursor: pointer;
	text-decoration: none;

	transition: opacity ease .3s;

	&:hover {
		opacity: .7;
	}
}

.section h1 { color: white; font-size: 12px; line-height: 14px; }

.page.grid .section { position: absolute; }


.section.open {
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;

	width: auto !important;
	height: auto !important;

	z-index: 50;

	transition: top .5s ease .3s,
				bottom .5s ease .3s,
				left .5s ease .8s,
				right .5s ease .8s;

	.subpage {
		//z-index: 20;

		opacity: 1;

		transition: opacity .3s ease;
	}

	.subpage-content.loaded {
		transition: opacity 1s ease 1.5s;

		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.subpage-content.loaded {
	opacity: 1;
}