/* SECTIONS : CONTACT --- */

.section.contact {
	position: absolute;
	bottom: 15%;
	left: 0;
	right: 0;
	border: none;

	@include at-medium {
		background: url($img_dir + "contact-bg.png") 0 0 repeat;
		background-size: 24px;
	}

	@include at-medium-portrait {
		bottom: 0;

		height: 10%;
	}

	@include at-medium-landscape {
		bottom: 0;
		left: auto;

		width: 20%;
		height: 40%;
	}
}

.section.contact .content {
	@include at-medium {
		background-image: linear-gradient(176deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.08) 100%);
	}
}

.section.contact h1 {
	display: none;

	@include at-medium {
		display: block;

		position: absolute;
		top: 50%;
		left: 3%;

		margin-top: -1%;


		line-height: 1.5em;
		color: #DE8E7E;
	}

	@include at-medium-portrait {
		position: absolute;
		top: 50%;
		left: 2%;

		margin-top: -4%;

		font-size: 4vh;
	}

	@include at-medium-landscape {
		position: relative;
		top: auto;
		left: auto;

		margin: 0 auto;
		width: 80%;
		text-align: center;

		padding-top: 40%;
		margin-top: 0;
		margin-bottom: 5%;

		font-size: 2.5vw;
	}

}

.section.contact .contact-links {
	display: block;
	margin: 0 auto;
	width: 220px;
	text-align: center;

	@include at-medium-portrait {
		position: absolute;
		top: 50%;
		right: 2%;

		margin-top: -3.5%;
		width: auto;
	}

	@include at-medium-landscape {
		margin: 0 auto;
		width: 240px;
	}
}

.section.contact .contact-links li {
	display: inline;

	@include at-medium-portrait {

	}
}

.section.contact .contact-links a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0 5px 10px 5px;
	overflow: hidden;

	border-radius: 30px;
	border: 2px solid rgba(255,255,255,.75);
	background-color: rgba(255,255,255,.1);

	color: rgba(255,255,255,.75);
	text-align: center;

	transition: all ease .3s;

	@include at-medium {

		border: 2px solid rgba(20,0,255,.1);
		background-color: rgba(255,255,255,.75);

		color: rgba(151,161,247,.9);
	}

	@include at-medium-portrait {
		margin: 0 10px;
	}

	&:hover {
		border-color: rgba(255,255,255,1);

		@include at-medium {
			border-color: rgba(20,0,255,.2);

			color: rgba(151,161,247,1);
		}
	}

	&:active {
		border-color: rgba(255,255,255,.1);
		background-color: rgba(255,255,255,.3);

		@include at-medium {
			border-color: rgba(20,0,255,.2);
			background-color: rgba(255,255,255,1);
		}
	}
}

.section.contact .contact-links a i {
	position: relative;
	top: 13px;

	font-size: 30px;
	line-height: 30px;
}
