
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-skype:before { content: '\e801'; } /* '' */
.icon-dropbox:before { content: '\e802'; } /* '' */
.icon-spotify:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-mobile:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-dribbble:before { content: '\e808'; } /* '' */
.icon-behance:before { content: '\e809'; } /* '' */
.icon-gplus:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-rdio:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-evernote:before { content: '\e80e'; } /* '' */
.icon-lastfm:before { content: '\e80f'; } /* '' */