.wtl-days {}

.wtl-days-table {
	width: 100%;

	border-collapse: collapse;
	table-layout: fixed;
	display: table;

	background-color: #fff;
	border-bottom: 1px solid #f3f5f6;
}

.wtl-days-thead {
	display: table-header-group;
}

.wtl-days-tbody {
	display: table-row-group;
}

.wtl-days-table .wtl-table-row {
	display: table-row;
}

.wtl-days-table .wtl-table-heading,
.wtl-days-table .wtl-table-cell {
	display: table-cell;
	width: 2%;

	text-align: center;
}

.wtl-days-table .wtl-table-heading {
	padding-bottom: .5vh;

	font-family: $fontBold;
	font-size: 4vw;
	line-height: 4.5vw;
	color: #fff;

	background-color: #e2e2e4;
	border: none;
	border-bottom: 1px solid #d4d6da;

	@include at-landscape {
		font-size: 2vw;
		line-height: 2.5vw;
	}
}

.wtl-days-table .wtl-table-heading.wtl-day-sun,
.wtl-days-table .wtl-table-heading.wtl-day-sat {
	color: rgba(255,0,0,.25);
}

.wtl-days-table .wtl-table-cell {
	font-family: $fontRegular;
	font-size: 3vh;
	line-height: 5.5vh;
	color: #82949E;

	padding: .5vh 0;

	border: 1px solid #f3f5f6;

	cursor: pointer;

	vertical-align: middle;

	@include at-landscape {
		font-size: 4vh;
		line-height: 5vh;

		padding: 2vh 0;
	}
}

.wtl-days-table .wtl-table-cell.wtl-today {
	font-family: $fontBold;
	color: rgba(0,0,0,.5);

}

.wtl-days-table .wtl-table-cell.wtl-active {

	font-family: $fontBold;
	color: #fff;

	background-color: rgba(93,210,86,.75);
}

.wtl-days-table .wtl-table-cell:not(.wtl-active):hover {
	//background-color: #f3f5f6;
}