.wtl-year {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	padding-top: 5px;
	height: 50px;

	background-color: white;
	box-shadow: rgba(0,0,0,.15) 0 1px 3px;

	@include at-small-portrait {
		padding-top: 10px;
		height: 70px;
	}
}

.wtl-year-input-wrapper {
	position: relative;

	width: 70px;
	margin: 0 auto;

	@include at-small-portrait {
		width: 100px;
	}
}

.wtl-year input {
	display: block;
	width: 100%;
	padding: 5px;
	margin: 0 auto;

	font-family: $fontLight;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: rgba(0,0,0,.5);

	box-shadow: none;
	border: none;

	@include at-small-portrait {
		font-size: 36px;
		line-height: 36px;
	}
}

.wtl-year input:focus {
	outline: 1px solid #FAF6F5;
}

.wtl-btn-minus,
.wtl-btn-plus,
.wtl-btn-edit {
	position: absolute;
	cursor: pointer;

	color: #82949E;

	&,
	&:hover,
	&:active { text-decoration: none; }
}

.wtl-btn-edit {
	top: 2px;
	right: -20px;

	padding: 10px;

	font-size: 14px;
	line-height: 14px;

	@include at-small-portrait {
		top: 5px;

		font-size: 18px;
		line-height: 18px;
	}
}

.wtl-btn-minus,
.wtl-btn-plus {
	top: 5px;

	padding: 5px 15px;

	font-size: 18px;
	line-height: 24px;

	@include at-small-portrait {
		top: 15px;

		font-size: 24px;
		line-height: 30px;
	}
}

.wtl-btn-minus {
	left: 10px;
}

.wtl-btn-plus {
	right: 10px;
}